h1 {
  color: red;
  }
div.carousel-slide
  {
    height: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
img.d-block w-100
{
  height: 20px;
}
