
html {
  background-color: rgb(255, 248, 220)
}
#left{
  position: static;
  top: 90px;
  align-items: space-around;
  align-items: space-between;
  padding-left: 20%;
  padding-top: 20%;
}
#right{
  position: static;
  top: 90px;
  align-items: space-between;
  align-items: space-around;
  padding-bottom: 20%;
}
